.container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
}

.card{
    max-width: 300px;
    width: 100%;
    border: 1px solid black;
}

.card img{
    max-width: 250px;
    width: 100%;
}